<#import "base.ftl" as base>
<!DOCTYPE html>
<html lang="en">
<head>
    <@base.page_head></@base.page_head>
    <title>Title</title>
</head>
<body>
 <@base.page_navbar>
 </@base.page_navbar>

</body>
</html>